---
const {title} = Astro.props
---

<div class="bg-neutral-50 shadow-card p-1 rounded-3xl md:col-span-2">
  <div
    class="bg-white rounded-[calc(var(--radius-3xl)-.25rem)] border border-neutral-200 overflow-hidden"
  >
    <div class="px-6 py-2 bg-neutral-50 border-b border-neutral-200">
      <span class="text-xs font-mono uppercase">{title}</span>
    </div>
    <div>
      <slot />
    </div>
  </div>
</div>
