---
import Image from "astro/components/Image.astro";
---

<aside class="w-full p-4">
  <div class="flex items-center gap-3">
    <Image
      src="https://i.pravatar.cc/160?u=juliusdotdev"
      alt=""
      width={44}
      height={44}
      class="rounded-full outline-1 -outline-offset-1 outline-black/10"
    />
    <div class="flex flex-col">
      <span class="text-black font-medium leading-snug">Julius Dockwarder</span>
      <span class="text-sm leading-snug"
        >Fractional Engineering Partner</span
      >
    </div>
  </div>
  <p class="text-pretty mt-8">
    I'm a founding design engineer at Interfere, where we're building the
    self-healing layer of the internet. I care deeply about craft and quality
    and I like to make people feel something through my work.
  </p>
</aside>
