---
import "../styles/global.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en" class="lg:h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-ibm-plex-mono" preload />
    <title>Astro Basics</title>
  </head>
  <body class="px-6 font-sans leading-relaxed antialiased text-neutral-500 bg-neutral-50">
    <slot />
  </body>
</html>
